apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "my-app.fullname" . }}
spec:
  replicas: {{  required "Number of replicas required!" .Values.replicaCount | int  }}
  selector:
    matchLabels:
{{ include "my-app.labels" . | indent 6 }}
  template:
    metadata:
      labels:
{{ include "my-app.labels" . | indent 8 }}
    spec:
      containers:
        - name: nginx
          image: nginx:1.14