# values.yaml
fullnameOverride: "default"
nameOverride: "default"

replicaCount: "3"
image:
  repository: "nginx"
  tag: "1.25"

environment: dev

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "128Mi"
    cpu: "500m"
env:
  - name: "test"
    value: "test"