# values.yaml
fullnameOverride: "default"
nameOverride: "default"
environment: dev

replicaCount: "3"
image:
  repository: "nginx"
  tag: "1.25"

annotations: { }
#  prometheus.io/scrape: "true"
#  prometheus.io/port: "8080"
#  description: "Main production API for the billing module"

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "128Mi"
    cpu: "500m"

env: [ ]
#  - name: "hello"
#    value: "world"

strategy: { }
#  type: RollingUpdate
#  rollingUpdate:
#    maxSurge: 1
#    maxUnavailable: 0

volumeMounts: [ ]
#  - name: storage-volume
#    mountPath: /data/db

volumes: [ ]
  #  - name: storage-volume
  #    persistentVolumeClaim:
  #      claimName: my-pvc-disk


# Health Checks
livenessProbe: { }
#  httpGet:
#    path: /healthz
#    port: 8080
#  initialDelaySeconds: 15
readinessProbe: { }
#  httpGet:
#    path: /ready
#    port: 8080

podDisruptionBudget:
# maxUnavailable: 1
 minAvailable: "80%"