name: CI
on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  
jobs:
  ci:
    uses: rhattox-shared-actions/shared-actions/.github/workflows/helm-deploy.yaml@main
    secrets:
      GHA_TOKEN: ${{ secrets.GHA_TOKEN }}
    with:
      HELM_CHART_PATH: ./deployment
